.container {
    max-width: 1090px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.footer__logo {
    width: 165px;
    height: 70px;
    margin-top: 14px;
}
.footer__box {
    display: flex;
    list-style: none;
}
.footer__box-item {
    &:first-child {
        margin-right: 185px;
    }
    &:nth-child(2) {
        margin-right: 187px;
    }
}
.footer__contacts {
    font-size: 12px;
    width: 207px;
    font-family: "Montserrat Alternates", sans-serif;
}
.footer__gmail-input {
    width: 204px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #d7d7d7;
    color: #7e7e7e;
    padding-left: 10px;
    font-style: 12px;
    font-family: "Montserrat Alternates", sans-serif;
}
.footer__subscribe {
    color: #fff;
    background: #000;
    width: 107px;
    height: 35px;
    border: none;
    font-size: 12px;
    border-radius: 20px;
    margin-left: 36px;
    font-family: "Montserrat Alternates", sans-serif;
}
.footer__description {
    color: #000;
    font-size: 6px;
    font-family: "Montserrat Alternates", sans-serif;
}
.footer__subscribe-box {
    display: flex;
    margin-top: 36px;
}
.footer-backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 1000ms;
    z-index: 1000;
}
.footer-backdrop__background-modal {
    position: absolute;
    width: 463px;
    height: 245px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.footer__is-hidden {
    opacity: 0;
    pointer-events: none;
}
.footer-backdrop__close {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 400px;
    margin-top: 30px;
}
.footer-backdrop__close-svg {
    width: 15px;
    height: 15px;
    fill: #000;
}
.footer-backdrop__close .footer-backdrop__close-svg {
    position: relative;
    transition: transform 1s;
}
.footer-backdrop__title {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
.footer-backdrop__background {
    background-image: url(../images/footer/footer-backdrop.png);
    width: 378px;
    height: 106px;
    margin-left: 43px;
    margin-bottom: 20px;
}